<html>
    <head>
        <script src="angular.min.js"></script>
        <script src="src/myapp.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <link href="css/bootstrap.min.css" rel="stylesheet">
    </head>
    
    <body ng-app="Hello App"  >
        <div class="jumbotron" ng-controller="parentController">
            {{greeting}} !! <br>
            <input type="text"  ng-model="name">
        <br>
             <button ng-click="onClick()" >{{btnText}}</button>
            <br>
            <div class="alert-info" ng-controller="childController" ng-hide="show">
                This is child Component <br>
                {{greeting}} !! <br>
                <input type="text" class="btn btn-primary" ng-change="onChange()" ng-model="name">
        
            </div>
            
           
        </div>
    </body>
</html>